<!DOCTYPE html>
<html>
<head>
  
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/styles.css" rel="stylesheet">
    <link href="../styles/whiteContent.css" rel="stylesheet">
    <link href="../styles/editable.css" rel="stylesheet">
    <link href="../styles/xeditable.css" rel="stylesheet">
    <link href="../styles/bootstrap-multiselect.css" rel="stylesheet">

    
    

    
    <script src="../bower_components/jquery/dist/jquery.js"></script>




  <script type="text/javascript">
      $(function () {

            $('[data-toggle="tooltip"]').tooltip();

            var url = "../images/fondo.jpg";
            $("<img />").attr('src', url).load(function () {
                if (!this.complete || typeof this.naturalWidth == "undefined" || this.naturalWidth == 0) {
                    alert('broken image!');
                } else {
                    $('#background').css('background', 'url("' + url + '") no-repeat center top');
                    $('#background').delay(500).css('opacity', 0).show().animate({ opacity: 1 }, 2000);
                }
            });
        });

    </script>
</head>

<body ng-app="frontendApp"  ng-controller="MainController" ng-cloak>
<div id="background" class="max-background ObjTransparent" style="background: url('') no-repeat center top; height: 100%; position: fixed; width: 100%; z-index: -1;">  
</div>
<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">SuperGol</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                       <a ng-href="#/leagues">{{ 'LEAGUE_B' | translate }}</a>
                    </li>
                    <li>
                         <a ng-href="#/team">{{ 'MENU_TEAM' | translate }}</a>
                    </li>
                    <li>
                        <a ng-href="#/players">{{ 'MENU_PLAYER' | translate }}</a>
                    </li>
                    <li>
                        <a ng-href="#/register">{{ 'R_BUTTON' | translate }}</a>
                    </li>
                    <li>
                        <a ng-href="#/login">Log In</a>
                    </li>
                    
                </ul>
                <div style="float:right;">

                            <input type="image" name="submit" id="submit" src="../images/arg.png" ng-click="changeLanguage('es')"  translate="BUTTON_TEXT_ES">
                            <input type="image" name="submit" id="submit" src="../images/usa.png" ng-click="changeLanguage('en')"   translate="BUTTON_TEXT_EN">
                        </div>
            </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
 
          <div ng-view=""></div>




    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-touch/angular-touch.js"></script>
    <script src="../bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/angularUtils-pagination/dirPagination.js"></script>
    

    <script src="scripts/bootstrap-multiselect.js"></script>
    <script src="scripts/xeditable.js"></script>
    <script src="scripts/configuration.js"></script>
    <script src="scripts/routes.js"></script>
    <script src="scripts/translations.js"></script>

    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/teamController.js"></script>
    <script src="scripts/controllers/leagueController.js"></script>
    <script src="scripts/controllers/loginController.js"></script>
    <script src="scripts/controllers/registerController.js"></script>
    <script src="scripts/controllers/playerController.js"></script>
    <script src="scripts/app.js"></script>
         
        
  
</body>
</html>
