<!DOCTYPE html>
<html>
<head>
  
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/styles.css" rel="stylesheet">
    <link href="../styles/whiteContent.css" rel="stylesheet">
    <link href="../styles/editable.css" rel="stylesheet">
    <link href="../styles/xeditable.css" rel="stylesheet">
    <link href="../styles/bootstrap-multiselect.css" rel="stylesheet">
    <link href="../bower_components/components-font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet">

    
    <script src="../bower_components/jquery/dist/jquery.js"></script>




  <script type="text/javascript">

      $(function () {

            $('[data-toggle="tooltip"]').tooltip();

            var url = "../images/fondo.jpg";
            $("<img />").attr('src', url).load(function () {
                if (!this.complete || typeof this.naturalWidth == "undefined" || this.naturalWidth == 0) {
                    alert('broken image!');
                } else {
                    $('#background').css('background', 'url("' + url + '") no-repeat center top');
                    $('#background').delay(500).css('opacity', 0).show().animate({ opacity: 1 }, 2000);
                }
            });
        });

    </script>
</head>

<body ng-app="frontendApp"  ng-controller="MainController" >
<div id="background" class="max-background ObjTransparent" style="background: url('') no-repeat center top; height: 100%; position: fixed; width: 100%; z-index: -1;">  
</div>
<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">SuperGol</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                         <a ng-href="#/team">{{ 'MENU_TEAM' | translate }}</a>
                    </li>
                    <li class="dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ligas <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                    <li>
                       <a ng-href="#/leagues">{{ 'LEAGUE_B' | translate }}</a>
                    </li>
                    <li>
                       <a ng-href="#/myLeague">{{ 'MY_LEAGUES' | translate }}</a>
                    </li>
                </ul>
              </li>
                    
                    
                    <li>
                        <a ng-href="#/players">{{ 'MENU_PLAYER' | translate }}</a>
                    </li>
                    <li>
                        <a ng-href="#/actualizarFecha">{{ 'UPDATE' | translate }}</a>
                    </li>
                    <li>
                       
                    </li>
                   
                    
                </ul>
                
                <div style="float:right;">
                           <input type="image" name="submit" id="submit" src="../images/arg.png" ng-click="changeLanguage('es')"  translate="BUTTON_TEXT_ES">
                            <input type="image" name="submit" id="submit" src="../images/usa.png" ng-click="changeLanguage('en')"   translate="BUTTON_TEXT_EN">

                </div>
                <div id="divLogin" style="float:right;margin-right: 200px; margin-top: 5px; width: 166px;">
                            <h4><span class="label label-danger">{{user}}</span></h4>
                            <button type="button" class="btn btn-danger" ng-click="logout()" 
                                    style="float:right; margin-top: -34px;margin-right: -69px;">LogOut
                            </button>
                </div>
            </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
 
          <div ng-view=""></div>



    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="scripts/bootstrap-multiselect.js"></script>
    <script src="../bower_components/angular/angular.js"></script>



    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-touch/angular-touch.js"></script>
    <script src="../bower_components/angular-translate/angular-translate.min.js"></script>
    
    <script src="../bower_components/angularUtils-pagination/dirPagination.js"></script>
    
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="../bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script src="../bower_components/ng-file-upload/ng-file-upload.min.js"></script>
   
    <script src="../bower_components/ngSweetAlert/SweetAlert.min.js"></script>
    <script src="../bower_components/sweetalert/dist/sweetalert.min.js"></script>
    
    
    
    
    <script src="scripts/xeditable.js"></script>
    <script src="scripts/configuration.js"></script>
    <script src="scripts/routes.js"></script>
    <script src="scripts/translations.js"></script>

    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/teamController.js"></script>
    <script src="scripts/controllers/leagueController.js"></script>
    <script src="scripts/controllers/loginController.js"></script>
    <script src="scripts/controllers/registerController.js"></script>
    <script src="scripts/controllers/playerController.js"></script>
    <script src="scripts/controllers/actualizarController.js"></script>
    <script src="scripts/controllers/myLeagueController.js"></script>
    <script src="scripts/app.js"></script>

    <!-- Auth0 Lock script and AngularJS module -->
    <script src="//cdn.auth0.com/js/lock-7.9.min.js"></script>
    <!-- angular-jwt and angular-storage -->
    <script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"></script>
    <script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>

    <script src="//cdn.auth0.com/w2/auth0-angular-4.js"> </script>

    <!-- Setting the right viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
         

</body>
</html>
