<!DOCTYPE html>
<html ng-app="PlayerApp">
<head>
    <meta charset="utf-8" />
    <title>SuperGol - Crear Jugador</title>
    
    
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/styles.css" rel="stylesheet">

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="../scripts/app.js"></script>
    <script src="../scripts/controllers/main.js"></script>
    <script src="../scripts/controllers/about.js"></script>
    <!-- endbuild -->

    <script src="../scripts/controllers/playerController.js"></script>

    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/fonts/font-awesome.min.css" />
	
	<script type="text/javascript">
			$(function () {

            $('[data-toggle="tooltip"]').tooltip();

            var url = "../images/fondo.jpg";
            $("<img />").attr('src', url).load(function () {
                if (!this.complete || typeof this.naturalWidth == "undefined" || this.naturalWidth == 0) {
                    alert('broken image!');
                } else {
                    $('#background').css('background', 'url("' + url + '") no-repeat center top');
                    $('#background').delay(500).css('opacity', 0).show().animate({ opacity: 1 }, 2000);
                }
            });
        });

    </script>

	<style>
		h1{color:white}
	</style>
</head>

<body ng-controller="PlayerController">
<div id="background" class="max-background ObjTransparent" style="background: url('') no-repeat center top; height: 100%; position: fixed; width: 100%; z-index: -1;">  
</div>
<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SuperGol</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<div class="container">

<div class="page-header" style="margin-top: 63px;">
    <h1>Crear Jugador</h1>
</div>

<!-- Registration form - START -->
<div class="contentRegistro clearfix" style="z-index: 10;">
  <div class="col-md-12">

	<div class="container form_Registro center-block text-center bg_trans_dark" 
	       style="max-width: 640px; margin-top: 40px; margin-bottom: 100px; padding: 60px">
			<form role="form" data-toggle="validator" class="form-horizontal">
			  <div class="form-group">
				<input type="text" class="form-control" id="name" placeholder="Nombre" ng-model="name" required>
			  </div>
			  <div class="form-group">
				<input type="text" class="form-control" id="lastName" placeholder="Apellido" ng-model="lastName" required>
			  </div>
			  <div class="form-group">
				<input type="text" class="form-control" id="team" placeholder="Equipo" ng-model="team" required>
			  </div>
              <div class="form-group">
                <input type="text" class="form-control" id="position" placeholder="Puesto" ng-model="position" required>
              </div>
			  <div class="form-group"> 
				<div>
				  <button type="submit" id="createPlayer" data-ng-click="createPlay()"class="btn btn-success btn btn-primary btn-lg" >Crear</button>
				</div>
			  </div>
			</form>
        <!-- /.row -->
	</div>
  </div>
    <!-- Registration form - END -->

</div>

	
</body>
</html>