<body>
<div class="body" style="z-index: 10;" >
            <div class="container" style="min-height: 500px;">

<div class="page-header" style="margin-top: 63px;">
    <h1>{{ 'UPDATE' | translate}}</h1>
</div>

<!-- Registration form - START -->
<div class="contentRegistro clearfix" style="z-index: 10;">
  <div class="col-md-12">

	<div class="container form_Registro center-block text-center bg_trans_dark" 
	       style="max-width: 640px; margin-top: 40px; margin-bottom: 100px; padding: 60px">
			<form role="form" data-toggle="validator" class="form-horizontal">
			  <div class="form-group">
                <div class="input-group">
                <span class="input-group-btn">
                    
                </span>
                 <input type="file" title="" accept="txt/*"  ngf-select ng-model="file" class="upload" />
            </div>
              </div>
              <!--
              <div class="form-group">
                <label for="ejemplo_archivo_1">Carga Manual</label>
				<input type="text" class="form-control" id="liga" placeholder="Nombre del Jugador" required>
			  </div>
              -->
			  <div class="form-group"> 
				<div>
				  <button type="submit" class="btn btn-success btn btn-primary btn-lg" ng-click="upload(file)" >{{ 'LOAD' | translate}}</button>
				</div>
			  </div>
			</form>

        <!-- /.row -->
	</div>
  </div>
    <!-- Registration form - END -->

</div>

</div>
</div>


	
</body>
