<div class="body" style="z-index: 10;"  ng-init="getLeagues()">
	<div class="container" style="min-height: 500px;">
		<div class="page-header" style="margin-top: 63px;">
		    <h1>{{ 'H1_LEAGUE' | translate }}</h1>
		</div>
	    <div class="row" style="padding: 10px;">
		<div>
			<table  id="ranking"  class="table table-bordered" style="padding:5px;">
				<tr style="font-weight: bold">
				  <td style="width:35%">{{ 'LEAGUE_N' | translate }}</td>
				  <td style="width:20%">Cant. Min</td>
				  <td style="width:20%">Cant. Max</td>
				  <td style="width:25%">{{ 'LEAGUE_E' | translate }}</td>
				</tr>
				<tr ng-repeat="league in leagues">
				  <td>
					<!-- editable username (text with validation) -->
					<!-- onbeforesave="checkName($data, league.id)" para validar -->
					<span editable-text="league.name" e-name="name" e-form="rowform" ng-model="name" e-required>
					  {{ league.name || 'empty' }}
					</span>
				  </td>
				  <td>
					<!-- editable status (select-local) -->
					<span editable-text="league.cantMin" e-name="cantMin" e-form="rowform" ng-model="cantMin" e-required>
					  {{ league.cantMin || 'empty' }}
					</span>
				  </td>
				  <td>
					<!-- editable group (select-remote) -->
					<span editable-text="league.cantMax" e-name="cantMax" e-form="rowform" ng-model="cantMax" e-required>
					  {{ league.cantMax || 'empty' }}
					</span>
				  </td>
				  <td style="white-space: nowrap">
					<!-- form -->
					<form editable-form name="rowform" onbeforesave="saveLeague($data,  $index)" 
						ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == league" >
					  <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
						{{ 'SAVE' | translate }}
					  </button>
					  <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
						{{ 'CANCEL' | translate }}
					  </button>
					</form>
					<div class="buttons" ng-show="!rowform.$visible">
					  <button class="btn btn-primary" ng-click="rowform.$show()">{{ 'LEAGUE_E' | translate }}</button>
					  <button class="btn btn-danger" ng-click="removeLeague($index)">{{ 'DELETE' | translate }}</button>
					</div>  
				  </td>
				</tr>
			  </table>
			  
			  <button class="btn btn-success" ng-click="addLeague()">{{ 'LEAGUE_B' | translate }}</button>
			 </div>
		</div>
	</div>
 </div>

