<div class="body" style="z-index: 10;"  ng-init="getLeagues()">
	<div class="container" style="min-height: 500px;">
		<div class="page-header" style="margin-top: 63px;">
		    <h1>{{ 'H1_LEAGUE' | translate }}</h1>
		</div>
	    <div class="row" style="padding: 10px;">
		<div>
			<table  id="ranking"  class="table table-bordered" style="padding:5px;">
				<tr style="font-weight: bold">
				  <td style="width:35%">{{ 'LEAGUE_N' | translate }}</td>
				  <td style="width:20%">Cant. Min</td>
				  <td style="width:20%">Cant. Max</td>
				  <td style="width:25%">{{ 'EDIT' | translate }}</td>
				</tr>
				 <tr dir-paginate="league in leagues | itemsPerPage: 5">
				   <td style="display:none;">
                            <span editable-text="league.id" e-name="id" e-form="rowform" ng-model="id" e-required>
                              {{ league.id || 'empty' }}
                            </span>
                          </td>
				  <td>
					<span editable-text="league.name" e-name="name" e-form="rowform" ng-model="name" e-required>
					  {{ league.name || 'empty' }}
					</span>
				  </td>
				  <td>
					<span editable-text="league.cantMin" e-name="cantMin" e-form="rowform" ng-model="cantMin" e-required>
					  {{ league.cantMin || 'empty' }}
					</span>
				  </td>
				  <td>
					<span editable-text="league.cantMax" e-name="cantMax" e-form="rowform" ng-model="cantMax" e-required>
					  {{ league.cantMax || 'empty' }}
					</span>
				  </td>
				  <td style="white-space: nowrap">
					<form editable-form name="rowform" onbeforesave="editLeague($data, $index)" 
						ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == league" >
					  <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
						{{ 'SAVE' | translate }}
					  </button>
					  <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
						{{ 'CANCEL' | translate }}
					  </button>
					  
					</form>
					<div class="buttons" ng-show="!rowform.$visible">
						 <button class="btn btn-primary" ng-click="rowform.$show()">{{ 'EDIT' | translate }}</button>
						 <button class="btn btn-danger" ng-click="removeLeague(league.id, $index)">{{ 'DELETE' | translate }}</button>
						 <button type="button" ng-disabled="rowform.$waiting" ng-click="joinLeague(league.id)" class="btn btn-default">
							{{ 'JOIN' | translate }}
					  	</button>
					  	<button type="button" ng-disabled="rowform.$waiting" ng-click="createFixture(league.id)" class="btn btn-default">
							{{ 'CREATE' | translate }}
					  	</button>
					</div>  
				  </td>
				</tr>
			  </table>

			   <div class="center-block">
                      <dir-pagination-controls auto-hide>
                      </dir-pagination-controls>
                    </div>
                <div style="float:right;">
                       <button class="btn btn-success" data-toggle="modal" data-target="#myModal">{{ 'LEAGUE_B' | translate }}</button>
               </div>
			  
			 	 
			 </div>
		</div>
	</div>
 </div>




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{ 'LEAGUE_B' | translate }}</h4>
      </div>
      <div class="modal-body">
          <form role="form">
            
                <div class="well well-sm"><strong style="color:black;"><span class="glyphicon glyphicon-asterisk"></span>{{ 'R_FIELDS' | translate }}</strong></div>
                <div class="form-group">
                  <div class="input-group">
                        <input type="text" class="form-control" name="InputName" id="InputName" 
                               placeholder ="{{ 'LEAGUE_N' | translate }}"  ng-model="name" ng-required="true">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="number" class="form-control" id="cantMin" name="Cant. Min" placeholder="Cant. Min" ng-model="cantMin"  min="0" ng-required="true">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                 <div class="form-group">
                    <div class="input-group">
                        <input type="number" class="form-control" id="cantMax" name="Cant. Max" placeholder="Cant. Max" ng-model="cantMax" min="{{cantMin}}"ng-required="true">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>

                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        <input type="submit" name="submit" id="submit" data-ng-click="formplayer.$valid && saveLeague($data, index)" value="{{ 'SAVE' | translate }}" class="btn btn-info">
        </form>
      </div>
      					
    </div>
  </div>
</div>


                </div>
            </div>
         </div>

