
	<style>
		h1{color:white}
	</style>



<!-- Registration form - START -->
<div class="contentRegistro clearfix" style="z-index: 10;">
<div class="col-md-12">

	<div class="container form_Registro center-block text-center bg_trans_dark" 
	       style="max-width: 640px; margin-top: 139px; margin-bottom: 100px; padding: 20px">
		    
			<div>
				<h1 class="text-center">SuperGol<img src="../images/pelota.png" style="width:80px;margin-bottom: 22px;"></img></h1>
			</div>
			 <form class="form col-md-12 center-block">
            <div class="form-group">
              <input type="text" class="form-control input-lg" placeholder="{{ 'USER' | translate }}" ng-model="username" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-lg" placeholder="Password" ng-model="password" required>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block" ng-click="login()">{{ 'INICIAR_S' | translate }}</button>
              <span class="pull-right"><a ng-href="#/register">{{ 'R_BUTTON' | translate }}</a></span>
            </div>
          </form>
    </div>
</div>
<!-- Registration form - END -->

	
