<div class="body" style="z-index: 10;"  ng-init="getLeagues()">
	<div class="container" style="min-height: 500px;">
		<div class="page-header" style="margin-top: 63px;">
		    <h1>{{ 'H1_LEAGUE' | translate }}</h1>
		</div>
	    <div class="row" style="padding: 10px;">
		<div>
			<table  id="ranking"  class="table table-bordered" style="padding:5px;">
				<tr style="font-weight: bold">
				  <td style="width:35%">{{ 'LEAGUE_N' | translate }}</td>
				  <td style="width:20%">Cant. Min</td>
				  <td style="width:20%">Cant. Max</td>
				  <td style="width:25%">{{ 'LEAGUE_E' | translate }}</td>
				</tr>
				 <tr dir-paginate="league in leagues | itemsPerPage: 5">
				   <td style="display:none;">
                            <span editable-text="league.id" e-name="id" e-form="rowform" ng-model="id" e-required>
                              {{ league.id || 'empty' }}
                            </span>
                          </td>
				  <td>
					<span editable-text="league.name" e-name="name" e-form="rowform" ng-model="name" e-required>
					  {{ league.name || 'empty' }}
					</span>
				  </td>
				  <td>
					<span editable-text="league.cantMin" e-name="cantMin" e-form="rowform" ng-model="cantMin" e-required>
					  {{ league.cantMin || 'empty' }}
					</span>
				  </td>
				  <td>
					<span editable-text="league.cantMax" e-name="cantMax" e-form="rowform" ng-model="cantMax" e-required>
					  {{ league.cantMax || 'empty' }}
					</span>
				  </td>
				  <td style="white-space: nowrap">
					<form editable-form name="rowform" onbeforesave="editLeague($data, $index)" 
						ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == league" >
					  <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
						{{ 'SAVE' | translate }}
					  </button>
					  <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
						{{ 'CANCEL' | translate }}
					  </button>
					  
					</form>
					<div class="buttons" ng-show="!rowform.$visible">
						 <button class="btn btn-primary" ng-click="rowform.$show()">{{ 'LEAGUE_E' | translate }}</button>
						 <button class="btn btn-danger" ng-click="removeLeague(league.id, $index)">{{ 'DELETE' | translate }}</button>
						 <button type="button" ng-disabled="rowform.$waiting" ng-click="getInfo(league.id)" class="btn btn-default" data-toggle="modal" data-target="#myModal"> Ranking</button>
						 <button type="button" ng-disabled="rowform.$waiting" ng-click="getInfo(league.id)" class="btn btn-default" data-toggle="modal" data-target="#myModalFixture"> Fixture</button>

					</div>  
				  </td>
				</tr>
			  </table>

			   <div class="center-block">
                      <dir-pagination-controls auto-hide>
                      </dir-pagination-controls>
                    </div>
               
			  <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
			 </div>
		</div>
	</div>
 </div>




<!-- Modal Ranking-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ranking</h4>
      </div>
      <div class="modal-body">
         
       <table class="table">
       	<thead>  
		  <tr>  
			<th>Equipo</th>  
			<th>Puntos</th>  
		  </tr>  
		</thead>  
  			<tr ng-repeat="rs in ranking">
    			<td>{{ rs.team }}</td>
    			<td>{{ rs.points }}</td>
  			</tr>
		</table>
        
      </div>
      

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    

    </div>
  </div>
</div>
<!-- EndModal Ranking -->



<!-- Modal Ranking-->
<div class="modal fade" id="myModalFixture" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Fixture</h4>
      </div>
      <div class="modal-body">
         
       <table class="table">
       	<thead>  
		  <tr>
		  	<th>Fecha</th>    
			<th>Equipo</th>  
			<th>Puntos</th>
			<th>Ganador</th>
		  </tr>  
		</thead>  
  			<tr ng-repeat="fx in fixture">
    			<td>{{ fx.date }}</td>
    			<td>{{ fx.local }}</td>
    			<td>{{ fx.visitor }}</td>
    			<td ng-if="fx.winner !=null">{{ fx.winner}}</td>
  			</tr>
		</table>
        
      </div>
      

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    

    </div>
  </div>
</div>
<!-- EndModal Ranking -->

                </div>
            </div>
         </div>

