<div class="body" style="z-index: 10;"  ng-init="getPlayers()">
            <div class="container" style="min-height: 500px;">
                <div class="page-header" style="margin-top: 63px;">
                    <h1>{{ 'H1_PLAYER' | translate }}</h1>
                </div>
                <div class="row" style="padding: 10px;">
                <div>
                    <table  id="ranking"  class="table table-bordered" style="padding:5px;">
                        <tr style="font-weight: bold">
                          <td style="width:35%">{{ 'LEAGUE_N' | translate }}</td>
                          <td style="width:20%">{{ 'LAST_NAME' | translate }}</td>
                          <td style="width:20%">{{ 'TEAM' | translate }}</td>
                          <td style="width:25%">{{ 'POSITION' | translate }}</td>
                          <td style="width:25%">{{ 'LEAGUE_E' | translate }}</td>
                        </tr>
                        <tr ng-repeat="player in players">
                          <td>
                            <span editable-text="player.name" e-name="name" e-form="rowform" ng-model="name" e-required>
                              {{ player.name || 'empty' }}
                            </span>
                          </td>
                          <td>
                            <span editable-text="player.lastName" e-name="apellido" e-form="rowform" ng-model="lastName" e-required>
                              {{ player.lastName || 'empty' }}
                            </span>
                          </td>
                          <td>
                           <span editable-text="player.team" e-name="team" e-form="rowform" ng-model="team" e-required>
                              {{ player.team || 'empty' }}
                            </span>
                          </td>
                          <td>
                           <span editable-text="player.position" e-name="position" e-form="rowform" ng-model="position" e-required>
                              {{ player.position || 'empty' }}
                            </span>
                          </td>
                          <td style="white-space: nowrap">
                            <!-- form -->
                            <form editable-form name="rowform" onbeforesave="savePlayer($data,  $index)" 
                                ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == player" >
                              <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                {{ 'SAVE' | translate }}
                              </button>
                              <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                                {{ 'CANCEL' | translate }}
                              </button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                              <button class="btn btn-primary" ng-click="rowform.$show()">{{ 'LEAGUE_E' | translate }}</button>
                              <button class="btn btn-danger" ng-click="removePlayer($index)"> {{ 'DELETE' | translate }}</button>
                            </div>  
                          </td>
                        </tr>
                      </table>
                      
                      <button class="btn btn-success" ng-click="addPlayer()">{{ 'MENU_PLAYER' | translate }}</button>
                     </div>
                </div>
            </div>
         </div>

