
    <style>
        h1{color:white}
    </style>



<div id="background" class="max-background ObjTransparent" style="background: url('') no-repeat center top; height: 100%; position: fixed; width: 100%; z-index: -1;">  
</div>
<div class="container">

<div class="page-header" style="margin-top: 70px">
     <h1>{{ 'H1_REGISTER' | translate }}</h1>
</div>

<!-- Registration form - START -->

<div class="contentRegistro clearfix" style="z-index: 10;">
<div class="col-md-12">
	<div class="container form_Registro center-block text-center bg_trans_dark" 
	       style="max-width: 640px; margin-top: 58px; margin-bottom: 100px; padding: 60px">
        <form role="form">
            
                <div class="well well-sm"><strong style="color:black;"><span class="glyphicon glyphicon-asterisk"></span>{{ 'R_FIELDS' | translate }}</strong></div>
                <div class="form-group">
                  <div class="input-group">
                        <input type="text" class="form-control" name="InputName" id="InputName" 
                               placeholder ="{{ 'R_USER' | translate }}"  ng-model="user" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="email" class="form-control" id="InputEmailFirst" name="InputEmail" placeholder="Email" ng-model="email" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="password" class="form-control" id="InputPassword" name="InputPassword" placeholder="Password" ng-model="pass" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
				<input type="submit" name="submit" id="submit" data-ng-click="createUser()" value="{{ 'R_BUTTON' | translate }}" class="btn btn-info">


        </form>
		</div>
        
    </div>
</div>
<!-- Registration form - END -->

</div>