<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SuperGol - Equipo</title>
 

<script type="text/javascript">

	function selected(select,numOfPlayers,nonSelectedText){
			$('#' + select).multiselect({
	            enableFiltering: true,
	            filterPlaceholder: 'Buscar...',
				nonSelectedText:nonSelectedText,
				filterBehavior: 'text',
				enableCaseInsensitiveFiltering: true,
				
				onChange: function(option, checked) {
	                // Get selected options.
	                var selectedOptions = $("#" + select + " option:selected");
	 
	                if (selectedOptions.length >= numOfPlayers) {
	                    // Disable all other checkboxes.
	                    var nonSelectedOptions = $("#" + select + " option").filter(function() {
	                        return !$(this).is(':selected');
	                    });
	 
	                    var dropdown = $("#" + select).siblings('.multiselect-container');
						
						/*nonSelectedOptions.each(function() {
	                        var input = $('input[value="' + $(this).val() + '"]');
	                        input.prop('disabled', true);
	                        input.parent('li').addClass('disabled');
	                    });
						*/
						
						nonSelectedOptions.each(function() {
	                        var input = $('input[value="' + $(this).val() + '"]');
							var idSelect;
							input.each(function(){
							
								idSelect = this.parentElement.parentElement.parentElement.parentElement.parentElement.previousElementSibling.id
								//idSelect = $(this).parent('ul').parent.prev().id;
								
								if (idSelect == select)
								{
									$(this).prop('disabled', true);
									$(this).parent('li').addClass('disabled');
								}
							})
	                    });
	                }
	                else {
	                    // Enable all checkboxes.
	                    var dropdown = $("#" + select).siblings('.multiselect-container');
	                    $("#" + select + " option").each(function() {
	                        var input = $('input[value="' + $(this).val() + '"]');
							
							var idSelect;
							input.each(function(){
								idSelect = this.parentElement.parentElement.parentElement.parentElement.parentElement.previousElementSibling.id
								
								if (idSelect == select)
								{
									$(this).prop('disabled', false);
									$(this).parent('li').addClass('disabled');
								}
							})
	                    });
	                }
	            }
	        });
		}
		
		
		$(document).ready(function() {
			selected("selectArquero",1,"Arqueros");
			selected("selectDefensor",3,"Defensores");
			selected("selectVolante",4,"Volantes");
			selected("selectDelantero",3,"Delanteros");
	    });

</script>

<style>
	td{
		color:white;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-weight:bold;
	}
</style>

</head>

<body>
<div id="background" class="max-background ObjTransparent" style="background: url('') no-repeat center top; height: 100%; position: fixed; width: 100%; z-index: -1;">  
</div>

    
		<div class="body" style="z-index: 10;">
	        <div class="container" style="min-height: 500px;">
	        	<div class="page-header" style="margin-top: 63px;" >
				    <h1>{{ 'H1_TEAM' | translate }}</h1>
				</div>
		        <div class="row" style="padding: 10px;">
					
				 <form class="form-inline" role="form">
				   	
						<select id="selectArquero" multiple="multiple" ng-options="arquero as arquero.nombre for arquero in arqueros" 
								ng-model="arqueroSeleccionado" ng-change="change('arquero', 1)" >
						</select>
						
						<select id="selectDefensor" multiple="multiple" ng-options="defensor as defensor.nombre for defensor in defensores" 
								ng-model="defensoresSeleccionados" ng-change="change('defensor', 3)">
						</select>
						
						<select id="selectVolante" multiple="multiple" ng-options="volante as volante.nombre for volante in volantes" 
								ng-model="volantesSeleccionados" ng-change="change('volante', 4)">
						</select>
						
						<select id="selectDelantero" multiple="multiple" ng-options="delantero as delantero.nombre for delantero in delanteros" 
								ng-model="delanterosSeleccionados" ng-change="change('delantero', 3)" >
						</select>
						<input type="text" class="form-control" name="InputName" id="InputName" placeholder="{{'TEAM_NAME' | translate }}" ng-model="nombreEquipo" required>
					  
						
					 
						
					<input type="submit" name="submit" id="submit" data-ng-click="createTeam()" value="{{'TEAM_B' | translate }}" class="btn btn-info">

				
				</form>
			</div>
	
	<div width="100%">
	
		<table width="70%" height="400px" style="margin-right: auto; margin-left: auto; background-image: url('../images/cancha.jpg'); background-repeat: no-repeat; background-size: 100% 100%;">
	<tr>
		<td>
			<table>
				<tr>
					<td id="arquero1">
						<h4><span class="label label-danger">{{ 'TEAM_A' | translate }}</span></h4>
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table height="100%" width="100%">
				<tr>
					<td id="defensor1">
						<h4><span class="label label-danger">{{ 'TEAM_DEF' | translate }}</span></h4>
					</td>
				</tr>
				<tr>
					<td id="defensor2">
						<h4><span class="label label-danger">{{ 'TEAM_DEF' | translate }}</span></h4>
					</td>
				</tr>
				<tr>
					<td id="defensor3">
						<h4><span class="label label-danger">{{ 'TEAM_DEF' | translate }}</span></h4>
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table height="100%" width="100%">
				<tr>
					<td id="volante1">
						<h4><span class="label label-danger">{{ 'TEAM_MED' | translate }}</span></h4>
					</td>
				</tr>
				<tr>
					<td id="volante2">
						<h4><span class="label label-danger">{{ 'TEAM_MED' | translate }}</span></h4>
					</td>
				</tr>
				<tr>
					<td id="volante3">
						<h4><span class="label label-danger">{{ 'TEAM_MED' | translate }}</span></h4>
					</td>
				</tr>
				<tr>
					<td id="volante4">
						<h4><span class="label label-danger">{{ 'TEAM_MED' | translate }}</span></h4>
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table height="100%" width="100%">
				<tr>
					<td id="delantero1">
						<h4><span class="label label-danger">{{ 'TEAM_DEL' | translate }}</span></h4>
					</td>
				</tr>
				<tr>
					<td id="delantero2">
						<h4><span class="label label-danger">{{ 'TEAM_DEL' | translate }}</span></h4>
					</td>
				</tr>
				<tr>
					<td id="delantero3">
						<h4><span class="label label-danger">{{ 'TEAM_DEL' | translate }}</span></h4>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</div>
	 	 </div>
	
</body>
</html>