.modal-footer {   border-top: 0px; }

.max-background 
{ 
    -webkit-background-size: cover !important; 
    -moz-background-size: cover !important; 
    -o-background-size: cover !important; 
    background-size: cover !important; 
}

.ObjTransparent 
{ 
    opacity: 0; 
}

.contentRegistro
{
	color: #c4c4c4; 
}

.contentRegistro .form_Registro
{ 
	border-radius: 10px; 
	box-shadow: 1px 1px 30px #000000;
}

.bg_trans_dark 
{ background: url("../img/bg_dark.png") scroll 0 0 rgba(0, 0, 0, 0) !important; }
/*
body 
{ 
	font-size: .85em; 
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif; 
	color: #232323; 
	/*padding-top: 50px !important;
}   

.body .container 
{ 
	border-radius: 15px; 
	background-color: #fff; 
	padding-bottom: 1px; 
	padding-top: 1px; 
	border: 1px solid #bdbdbd; 
		margin-bottom: -12px; 
	padding-bottom: 12px; 
} 

.body 
{ 
	padding-top: 20px; 
}
*/