.body .container 
{ 
    border-radius: 15px; 
    background-color: #fff; 
    padding-bottom: 1px; 
    padding-top: 1px; 
    border: 1px solid #bdbdbd; 
    margin-bottom: -12px; 
    padding-bottom: 12px; 
} 

.body 
{ 
    padding-top: 70px; 
}

