<!DOCTYPE html>
<!--llamamos al modulo para tenerlo disponible en el html-->
<html ng-app="cookies">
<head>
  <meta charset="utf-8">
</head>
  <link rel="stylesheet"  href="css/normalize.css"  media="screen" />
  <link rel="stylesheet"  href="css/foundation.min.css" media="screen" />   
  <body>

      <div class="row" ng-view></div>
    <!--cargamos angular js-->
   <script src="js/angular.js"></script>

    <!-- functions js-->
    <script src="js/cookies.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
